.form-estoque {
  width: 67%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.container-form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.form-estoque {
  mat-form-field {
    margin-bottom: 15px;
  }
}

mat-error {
  font-size: 0.75rem;
}

@media screen and (max-width: 599px) {
  .button-group {
    flex-direction: row !important;
  }
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0;

  .button-group-items {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  button {
    width: 100%;
    font-size: 0.8rem;
    padding: 15px 0;

    i {
      font-size: 1.2rem;
    }
  }
}

.productNameDisplay {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333da;
    color: #FFF;
    padding: 22px;
    font-size: 1.3rem;
    gap: 3px;
    margin-bottom: 20px;
  }

  text-align: center;
  line-height: 23px;
}

@media screen and (max-width: 599px) {
  .button-group {
    flex-direction: row !important;
  }

  .form-estoque {
    width: 100%;
  }
}