.form-movimentacao {
  width: 67%;
  margin: 0 auto;

  mat-form-field {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 599px) {
  .button-group {
    flex-direction: row !important;
  }

  .form-movimentacao {
    width: 100%;
  }

  .container-sem-prods {
    width: 70% !important;
    margin: 0 auto;
  }
}

.container-sem-prods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  text-align: center;

  i {
    margin-bottom: 20px;
    font-size: 3rem;
    color: #b32d2d;
  }
}


