.form-movimentacao {
  width: 67%;
  margin: 0 auto;

  mat-form-field {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 599px) {
  .button-group {
    flex-direction: row !important;
  }

  .form-movimentacao {
    width: 100%;
  }
}


