// DESKTOP
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 25px;

  span {
    font-weight: 400;
    cursor: pointer;
    transition: color 0.1s;
  }

  span:hover {
    color: #e0d9d9;
  }
}

// MOBILE
.botao-menu-mobile {
  position: fixed;
  z-index: 999;
  background-color: #3F51B5;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.3rem;
  color: #FFF;
}

mat-sidenav-container {
  height: 100vh;

  .list-end {
    position: absolute;
    bottom: 0;
    background-color: #00000d;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 80px;

    .list-end-items {
      display: flex;
      justify-content: end;
      font-size: 18px;
      padding: 0;
    }

    mat-list-item {
      padding: 0 15px;

      .list-end-items {
        button {
          i {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}


.mat-menu {
  width: 180px !important;
}

.mat-menu-item {
  padding: 0 20px !important;

  i {
    margin-right: 10px;
    font-size: 14px;
  }

  span {
    font-size: 14px;
  }
}

mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: #3f51b5;
  width: 250px;

  mat-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
  }

  mat-list-item span {
    color: #FFF;
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
    font-size: 1.075rem;
  }

  mat-list:first-child {
    height: 500px;
  }
}