<!-- NAVBAR DESKTOP -->
<mat-toolbar color="primary" *ngIf="!(isMobile$ | async) && !sidebarOpened">
    <div>Code</div>
    <div class="navbar">
        <span [routerLink]="['']" routerLinkActive="router-link-active" ><i class="fa-solid fa-home me-2"></i> Página Inicial</span>
        <span [routerLink]="['produtos']"><i class="fa-solid fa-gift me-2"></i> Produtos</span>
        <span><i class="fa-solid fa-dolly me-2"></i> Estoque</span>
        <span><i class="fa-solid fa-rotate me-2"></i> Movimentações</span>
        <span><i class="fa-solid fa-street-view me-2"></i> Frente de Serviço</span>
    </div>
</mat-toolbar>

<router-outlet *ngIf="!(isMobile$ | async)"></router-outlet>

<!-- NAVBAR MOBILE -->
<div *ngIf="isMobile$ | async">
    <mat-sidenav-container>
        <mat-sidenav [(opened)]="sidebarOpened" mode="side">
            <mat-list>
                <mat-list-item>
                    <span [routerLink]="['']" (click)="sidebarOpened = !sidebarOpened"><i
                            class="fa-solid fa-home me-2"></i> Página Inicial</span>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <span [routerLink]="['produtos']" (click)="sidebarOpened = !sidebarOpened"><i
                            class="fa-solid fa-gift me-2"></i> Produtos</span>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <span><i class="fa-solid fa-dolly me-2"></i> Estoque</span>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <span><i class="fa-solid fa-rotate me-2"></i> Movimentações</span>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <span><i class="fa-solid fa-street-view me-2"></i> Frente de Serviço</span>
                </mat-list-item>

                <mat-divider></mat-divider>
            </mat-list>

            <mat-list class="list-end">
                <mat-list-item>
                    <span>Sair</span>
                </mat-list-item>
            </mat-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <i class="botao-menu-mobile" (click)="sidebarOpened = !sidebarOpened"
                [ngClass]="sidebarOpened ? 'fa-solid fa-x fa-2x' : 'fa-solid fa-bars fa-2x'"></i>

            <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>