.dados-mov,
.dados-frente-servico,
.dados-os-mais-mov {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dados-mov {
    margin-top: 50px;

    mat-card {
        width: 50%;
        margin: 0 auto;
    }

    mat-card-header {
        display: flex;
        justify-content: center;
        width: 30%;
        margin: 0 auto;
    }

    .header-tipo-movimentacao {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}