table {
  width: 100%;
  overflow-x: auto;
}

td,
th {
  word-wrap: break-word;
  /* Prevent long words from breaking the layout */
  /* Prevent the cells from being squished */
}

@media (max-width: 600px) {
  table {
    width: 100%;
    display: block;
    overflow-x: auto;
    /* Ensure scroll on mobile */
  }

  th,
  td {
    padding: 8px;
    /* Add padding to keep cells readable */
  }

  .tdAcoes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }
}