<div class="container">
    <app-header textoHeader="Estoque" [isHomePage]="true"></app-header>

    <app-button textoBotao="Adicionar item ao estoque" iconeBotao="fa fa-plus"
        routeLink="/add-or-edit-estoque"></app-button>


    <div class="table-container">
        <mat-form-field>
            <mat-label>Pesquisar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Produto Column -->
            <ng-container matColumnDef="produto">
                <th mat-header-cell *matHeaderCellDef> Produto </th>
                <td mat-cell *matCellDef="let element"> {{element.produto.nome}} </td>
            </ng-container>

            <!-- Qtd Inicial Column -->
            <ng-container matColumnDef="qtdInicial">
                <th mat-header-cell *matHeaderCellDef> Qtd. Inicial </th>
                <td mat-cell *matCellDef="let element"> {{element.qtdInicial}} </td>
            </ng-container>

            <!-- Qtd Entrada Column -->
            <ng-container matColumnDef="qtdEntrada">
                <th mat-header-cell *matHeaderCellDef> Qtd. Entrada </th>
                <td mat-cell *matCellDef="let element"> {{element.qtdEntrada}} </td>
            </ng-container>

            <!-- Qtd Saida Column -->
            <ng-container matColumnDef="qtdSaida">
                <th mat-header-cell *matHeaderCellDef> Qtd. Saida </th>
                <td mat-cell *matCellDef="let element"> {{element.qtdSaida}} </td>
            </ng-container>

            <!-- Estoque Final Column -->
            <ng-container matColumnDef="estoqueFinal">
                <th mat-header-cell *matHeaderCellDef> Estoque Final </th>
                <td mat-cell *matCellDef="let element"> {{element.estoqueFinal}} </td>
            </ng-container>

            <!-- Ações Column -->
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td class="tdAcoes" mat-cell *matCellDef="let element">
                    <!-- Aqui você pode adicionar botões ou ícones de ação -->
                    <button mat-icon-button [routerLink]="['/add-or-edit-estoque', element.id]">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onDelete(element.id)">
                        <mat-icon color="accent">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>